In [1]:
import pandas as pd

In [12]:
import chardet

with open("../data/Frankenstein_Plan_Mengen_ZR.csv", "rb") as f:
    result = chardet.detect(f.read(100000))
    print(result)

{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

In [26]:
df = pd.read_csv(
    "../data/Frankenstein_Plan_Mengen_ZR.csv",
    encoding="ISO-8859-1",
    sep=";",
    header=[9, 16],  # Zeile 10 (Index 9) + Zeile 17 (Index 16)
    decimal=".",
    thousands=" "
)

df

,Unnamed: 0_level_0,Unnamed: 1_level_0,FL_00024360.PLAN.MengeHH.2,FL_00024360.PLAN.MengeHH.1,FL_00024360.PLAN.MengeKW,FL_00024360.PLAN.MengeGA,FL_00352230.PLAN.MengeGA,FL_00025289.PLAN.MengeGA,FL_00025287.PLAN.MengeGA,FL_00025297.PLAN.MengeGA,...,CV_00349016.PLAN.Menge,CV_00349013.PLAN.Menge,CV_00349005.PLAN.Menge,CV_00349004.PLAN.Menge,CV_00349002.PLAN.Menge,CV_00348857.PLAN.Menge,KN_00005030.PLAN.Menge.2,KN_00005030.PLAN.Menge.1,KN_00005023.PLAN.Menge.2,KN_00005023.PLAN.Menge.1
,von,bis,MWh/h,MWh/h,MWh/h,MWh/h,MWh/h,MWh/h,MWh/h,MWh/h,...,MWh/h,MWh/h,MWh/h,MWh/h,MWh/h,MWh/h,MWh/h,MWh/h,MWh/h,MWh/h
0,01.01.2014 06:00,01.01.2014 07:00,"51,476","1 709,224","461,161","1 025,914","45,360","28,190","57,864","121,684",...,"0,000","0,000","0,000","0,753","34,045","0,000","19,550","1,079","7,284","1,900"
1,01.01.2014 07:00,01.01.2014 08:00,"51,026","1 671,588","453,456","1 022,869","42,560","28,224","57,765","117,911",...,"0,000","0,000","0,000","0,607","35,279","0,000","18,923","0,955","6,890","1,562"
2,01.01.2014 08:00,01.01.2014 09:00,"50,688","1 817,313","454,455","1 027,474","64,546","27,976","60,100","120,903",...,"0,000","0,000","0,000","0,573","32,063","0,000","18,832","0,865","6,396","1,664"
3,01.01.2014 09:00,01.01.2014 10:00,"50,857","1 725,431","455,622","1 022,988","72,453","28,134","60,483","120,126",...,"0,000","0,000","0,000","0,495","28,629","0,000","18,636","0,865","6,890","1,619"
4,01.01.2014 10:00,01.01.2014 11:00,"50,873","1 997,502","454,479","1 024,464","69,048","27,853","60,366","120,459",...,"0,000","0,000","0,000","0,562","28,563","0,000","18,158","0,787","8,497","1,630"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70123,01.01.2022 01:00,01.01.2022 02:00,"0,000","862,281","25,255","258,222","31,612","33,446","37,185","164,931",...,"0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000"
70124,01.01.2022 02:00,01.01.2022 03:00,"0,000","789,112","27,725","253,316","35,805","33,605","38,159","165,078",...,"0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000"
70125,01.01.2022 03:00,01.01.2022 04:00,"0,000","791,423","28,767","245,283","33,190","33,616","39,938","155,266",...,"0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000"
70126,01.01.2022 04:00,01.01.2022 05:00,"0,000","834,285","30,138","243,504","32,739","33,401","39,859","151,845",...,"0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000"
70127,01.01.2022 05:00,01.01.2022 06:00,"0,000","1 034,191","36,290","262,629","33,348","33,356","38,182","153,216",...,"0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000","0,000"