In [2]:
from utils import load_series_dfs
import matplotlib.pyplot as plt
import pandas as pd
from collections import Counter
import os
from shapely import wkt, Point
import geopandas as gpd
from matplotlib.lines import Line2D
from matplotlib.patches import Patch
import pickle
import requests

In [12]:
gpkg_path = os.path.join('..', 'data', 'df_mapping_centroids.gpkg')
df_mapping = gpd.read_file(gpkg_path)

df_mapping.columns

Index(['nemesys_key', 'geom_g', 'centroid_lon', 'centroid_lat', 'geometry'], dtype='object')

In [4]:
# 1. Resource-ID für stündliche Klimastationen
resource_id = 'klima-v2-1h'

# 2. Metadata-Endpoint ansprechen
url_meta  = f"https://dataset.api.hub.geosphere.at/v1/station/historical/{resource_id}/metadata"
resp_meta = requests.get(url_meta)
resp_meta.raise_for_status()

# 3. Liste der Station-Dicts rausziehen
data = resp_meta.json()          # {'stations': [ {...}, {...}, … ]}
stations_list = data['stations']

# 4. In DataFrame umwandeln
stations_df = pd.DataFrame.from_records(stations_list)

# 5. Wichtige Spalten anzeigen
print("Spalten:", stations_df.columns.tolist())
print(stations_df[['id','name','lat','lon']].head())

Spalten: ['type', 'id', 'group_id', 'name', 'state', 'lat', 'lon', 'altitude', 'valid_from', 'valid_to', 'has_sunshine', 'has_global_radiation', 'is_active']
   id              name       lat       lon
0   1            Aflenz  47.54594  15.24069
1   2  Aigen im Ennstal  47.53278  14.13826
2   3       Allentsteig  48.69083  15.36694
3   4         Amstetten  48.10889  14.89500
4   5        Bad Aussee  47.61050  13.75844

In [14]:
# 1. stations_df → GeoDataFrame
stations_gdf = gpd.GeoDataFrame(
    stations_df,
    geometry=gpd.points_from_xy(stations_df.lon, stations_df.lat),
    crs="EPSG:4326"
)

# 2. df_mapping CRS prüfen/setzen
# (falls df_mapping.geometry schon Points in EPSG:4326 enthält, sonst entsprechend anpassen)
df_mapping = df_mapping.set_crs("EPSG:4326", allow_override=True)

# 3. In metrisches CRS projizieren für Meter-Abstände
df_map_m = df_mapping.to_crs(epsg=3857)
stations_m  = stations_gdf.to_crs(epsg=3857)

# 4. Nearest Join mit Entfernungs­spalte 'dist_m'
joined = gpd.sjoin_nearest(
    df_map_m,
    stations_m,
    how="left",
    distance_col="dist_m",
    max_distance=50000  # optional: nur Stationen ≤ 50 km
)

joined

,nemesys_key,geom_g,centroid_lon,centroid_lat,geometry,index_right,type,id,group_id,name,state,lat,lon,altitude,valid_from,valid_to,has_sunshine,has_global_radiation,is_active,dist_m
0,FL_00025241,MULTIPOLYGON (((576611.379498681 5233885.47556...,571866.668405,5.237265e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,FL_00352191,MULTIPOLYGON (((585315.470109405 5225725.82005...,589874.782901,5.237858e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,FL_00020896,MULTIPOLYGON (((442366.697798016 5277755.65335...,449815.252870,5.278740e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,FL_00024730,MULTIPOLYGON (((458466.07960983 5343618.499366...,459947.407067,5.339844e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,FL_00024735,MULTIPOLYGON (((455813.69099947 5345132.902266...,456514.181913,5.342561e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,FL_00352244,MULTIPOLYGON (((445856.374990906 5365743.91906...,439780.694796,5.351455e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,FL_00352430,MULTIPOLYGON (((484559.218368485 5193207.33573...,488959.046206,5.183190e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,FL_00024731,MULTIPOLYGON (((449827.987549417 5340014.16225...,455734.427577,5.326785e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,FL_00352054,MULTIPOLYGON (((168517.508101939 5271056.46775...,179254.145161,5.263559e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,FL_00352189,MULTIPOLYGON (((604720.060484524 5244360.40220...,625275.533165,5.289817e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,FL_00024616,MULTIPOLYGON (((647864.87873112 5330591.662247...,651912.682855,5.326448e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,FL_00024667,MULTIPOLYGON (((382089.378293122 5358891.65070...,388116.074358,5.365445e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,FL_00024360,MULTIPOLYGON (((580335.577754223 5331311.99925...,602986.040932,5.337265e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,FL_00352218,MULTIPOLYGON (((327609.3058768336 5260723.0545...,351903.411270,5.267230e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,FL_00352208,MULTIPOLYGON (((453137.430256977 5163557.52722...,445722.338521,5.176539e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,FL_00352243,MULTIPOLYGON (((473498.9860762852 5335846.7181...,476181.976251,5.343810e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,FL_00025240,MULTIPOLYGON (((502406.4926880548 5176911.1383...,514598.621414,5.184440e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,FL_00342704,MULTIPOLYGON (((383555.318533947 5305109.40148...,421973.690785,5.302983e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,FL_00352254,MULTIPOLYGON (((429934.2798399352 5359697.8300...,409698.499244,5.337159e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,FL_00025248,MULTIPOLYGON (((571359.582255836 5379201.19160...,578843.813543,5.388733e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,FL_00024702,MULTIPOLYGON (((464302.6436992565 5351473.2463...,461581.196209,5.355010e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,KN_00001613,POINT (450734.776267296 5348285.84986857),450734.776267,5.348286e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,KN_00001886,POINT (450611.961082289 5345185.86386357),450611.961082,5.345186e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,KN_00000067,POINT (348607.848889366 5297852.03056291),348607.848889,5.297852e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,KN_00000069,POINT (343967.14792847 5313574.25495751),343967.147928,5.313574e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,KN_00001602,POINT (450569.747572944 5350088.14790274),450569.747573,5.350088e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,KN_00000073,POINT (369183.552819 5318677.1276634),369183.552819,5.318677e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,CV_00007270,"LINESTRING (495139.923586289 5168858.53083316,...",495127.406163,5.168859e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,CV_00007809,"LINESTRING (467860.514403169 5166803.53965425,...",467855.707988,5.166804e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,CV_00003094,"LINESTRING (526054.604836417 5177242.27772937,...",526054.602870,5.177235e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,CV_00007283,"LINESTRING (449767.375146095 5160803.15400325,...",449755.364723,5.160803e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,CV_00007300,"LINESTRING (414328.712057598 5157201.42221358,...",414321.956683,5.157201e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,CV_00348266,"LINESTRING (392147.529330797 5313778.26758383,...",392152.891582,5.313778e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,CV_00003432,"LINESTRING (103863.91923287 5279448.80541387, ...",103866.994319,5.279449e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,CV_00001876,"LINESTRING (361533.564776843 5315287.04147033,...",361533.564215,5.315286e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,CV_00003083,"LINESTRING (577073.151811071 5243467.79904798,...",577051.083048,5.243468e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,CV_00003089,"LINESTRING (556681.13170542 5211089.53371581, ...",556690.145433,5.211090e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,CV_00003181,"LINESTRING (648977.706160437 5328399.60890065,...",648983.239159,5.328397e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,CV_00003183,"LINESTRING (629266.09294966 5319341.65920997, ...",629266.095558,5.319339e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,CV_00005585,"LINESTRING (601156.660569994 5396672.28395662,...",601165.593314,5.396672e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,CV_00003192,"LINESTRING (592793.778822092 5298953.69568534,...",592798.207514,5.298954e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,CV_00003191,"LINESTRING (592793.778822092 5298956.38607025,...",592798.154072,5.298956e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,CV_00005607,"LINESTRING (605768.483680534 5305619.84309389,...",605771.008647,5.305620e+06,POINT (Infinity Infinity),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# 1. Prüfe, welches CRS deine Centroid-Points aktuell haben:
print(df_mapping.crs)

# 2. Schau dir die X- und Y-Werte mal numerisch an:
print(df_mapping.geometry.x.describe())
print(df_mapping.geometry.y.describe())

# 3. Wenn df_mapping.crs nicht 'EPSG:4326' ist,
#    setze es (falls deine lon/lat-Spalten wirklich in Grad sind):
df_mapping = df_mapping.set_crs("EPSG:4326", allow_override=True)

EPSG:4326
count        43.000000
mean     475667.354531
std      116524.997176
min      103863.919233
25%      413445.175856
50%      459558.991970
75%      578439.737755
max      652374.756802
dtype: float64
count    4.300000e+01
mean     5.287221e+06
std      6.784214e+04
min      5.157201e+06
25%      5.239969e+06
50%      5.305620e+06
75%      5.337090e+06
max      5.396672e+06
dtype: float64

In [31]:
import numpy as np
from sklearn.neighbors import BallTree

# 1. Arrays in Radianten umwandeln
coords_map  = np.deg2rad(df_mapping[['centroid_lat','centroid_lon']])
coords_stat = np.deg2rad(stations_df[['lat','lon']])

# 2. Baum bauen und je 1 Nachbarn suchen
tree = BallTree(coords_stat, metric='haversine')
dist_rad, idx = tree.query(coords_map, k=1)

# 3. Abstand in km
dist_km = (dist_rad.flatten() * 6371.0)

# 4. Ergebnisse ins df_mapping schreiben
df_mapping['nearest_stat_id'] = stations_df.iloc[idx.flatten()]['id'].values
df_mapping['dist_km']         = dist_km

print(df_mapping[[
    'nemesys_key','nearest_stat_id','dist_km'
]].head())

   nemesys_key  nearest_stat_id       dist_km
0  FL_00025241             1000  16106.058151
1  FL_00352191              206   9364.231281
2  FL_00020896             1000   7784.572573
3  FL_00024730            11146  16690.586989
4  FL_00024735              501  12201.077685

In [20]:
df_mapping[[
    'nemesys_key','nearest_stat_id','dist_km'
]]

    nemesys_key  nearest_stat_id       dist_km
0   FL_00025241             1000  16106.058151
1   FL_00352191              206   9364.231281
2   FL_00020896             1000   7784.572573
3   FL_00024730            11146  16690.586989
4   FL_00024735              501  12201.077685
5   FL_00352244              501   8187.715259
6   FL_00352430              206  15152.008496
7   FL_00024731              218  16783.331677
8   FL_00352054            14120   6369.591851
9   FL_00352189            14120   9452.158689
10  FL_00024616            20902  15810.580134
11  FL_00024667            20902   5030.888565
12  FL_00024360              206  15651.144526
13  FL_00352218              501   6730.120178
14  FL_00352208              501   5449.796036
15  FL_00352243            11110  13679.974772
16  FL_00025240              501   5496.961909
17  FL_00342704            11146  13476.680084
18  FL_00352254              501  12238.180818
19  FL_00025248            20902  16116.372070
20  FL_00024702              218   5883.450714
21  KN_00001613              501   8548.996311
22  KN_00001886              206  14914.355654
23  KN_00000067              501   4479.127974
24  KN_00000069             2600  16394.928349
25  KN_00001602              158    980.080887
26  KN_00000073              501  10374.981681
27  CV_00007270              218  13259.148075
28  CV_00007809              501   5239.511723
29  CV_00003094             1000   4489.461755
30  CV_00007283            11110  10768.594221
31  CV_00007300              158  14328.983463
32  CV_00348266            11110   8866.469597
33  CV_00003432              501   9115.269569
34  CV_00001876            16920  14935.546111
35  CV_00003083            11146   3124.687273
36  CV_00003089              501   4582.856996
37  CV_00003181            11146   8133.156694
38  CV_00003183            16920   7896.405659
39  CV_00005585              206  15001.567726
40  CV_00003192             2600   3062.881067
41  CV_00003191             2600   2973.763463
42  CV_00005607            14120  15894.652063

In [21]:
# 4. Stations-GeoDataFrame anlegen (CRS: EPSG:4326)
stations_gdf = gpd.GeoDataFrame(
    stations_df,
    geometry=gpd.points_from_xy(stations_df.lon, stations_df.lat),
    crs="EPSG:4326"
)

# 5. Beide ins Meter-CRS bringen
df_m  = df_mapping.to_crs(epsg=3857)
stat_m = stations_gdf.to_crs(epsg=3857)

# 6. Nearest-Join – Abstand in Metern in der Spalte 'dist_m'
nearest = gpd.sjoin_nearest(
    df_m, stat_m,
    how="left",
    distance_col="dist_m",
    max_distance=50_000   # z.B. nur bis 50 km
)

# Ergebnis: pro Centroid bekommst du die nächstgelegene Station
# plus den exakten Meter-Abstand in 'dist_m'.
print(nearest[[
    'nemesys_key','id','name','dist_m'
]].head())

   nemesys_key  id name  dist_m
0  FL_00025241 NaN  NaN     NaN
1  FL_00352191 NaN  NaN     NaN
2  FL_00020896 NaN  NaN     NaN
3  FL_00024730 NaN  NaN     NaN
4  FL_00024735 NaN  NaN     NaN

In [22]:
print("Aktuelles CRS:", df_mapping.crs)
print("Beispiele Geometrie:", df_mapping.geometry.head())
print("X-Werte (sollten etwa 13…17 sein):",
      df_mapping.geometry.x.min(), df_mapping.geometry.x.max())
print("Y-Werte (sollten etwa 47…49 sein):",
      df_mapping.geometry.y.min(), df_mapping.geometry.y.max())

Aktuelles CRS: EPSG:4326
Beispiele Geometrie: 0      POINT (574298.47349 5236470.316)
1    POINT (592254.42841 5234861.03802)
2    POINT (451102.75767 5278928.05818)
3    POINT (459558.99197 5339463.04333)
4    POINT (456008.64107 5342557.63837)
Name: geometry, dtype: geometry
X-Werte (sollten etwa 13…17 sein): 103863.91923287 652374.7568024495
Y-Werte (sollten etwa 47…49 sein): 5157201.42221358 5396672.28395662

In [24]:
df_mapping = df_mapping.set_crs("EPSG:31287", allow_override=True)
print("Neues CRS:", df_mapping.crs)

Neues CRS: EPSG:31287

In [25]:
# nach WGS84 (Lon/Lat) – so siehst Du zur Kontrolle nun vernünftige 13…17 / 47…49-Werte
df_wgs84 = df_mapping.to_crs(epsg=4326)
print(df_wgs84.geometry.x.min(), df_wgs84.geometry.x.max())
print(df_wgs84.geometry.y.min(), df_wgs84.geometry.y.max())

# direkt in Meter-CRS (EPSG:3857), um Entfernungen in Metern zu berechnen
df_m = df_mapping.to_crs(epsg=3857)

-9.633129594324927 33.961030867891296
85.41732403161878 86.59842170864616

In [28]:
stations_m = stations_gdf.to_crs(epsg=3857)

nearest = gpd.sjoin_nearest(
    df_m, stations_m,
    how="left",
    distance_col="dist_m",

)

print(nearest[["nemesys_key","id","name","dist_m"]].head())

   nemesys_key   id      name        dist_m
0  FL_00025241  501  Litschau  1.483983e+07
1  FL_00352191  501  Litschau  1.481343e+07
2  FL_00020896  501  Litschau  1.526900e+07
3  FL_00024730  501  Litschau  1.581969e+07
4  FL_00024735  501  Litschau  1.585031e+07

In [30]:
nearest.id.unique()

array([501])