In [1]:
import pandas as pd
import os

In [2]:
# 1) CSV einlesen
df_raw = pd.read_csv(
    "../data/Frankenstein_Plan_Mengen_ZR.csv",
    encoding="ISO-8859-1",
    sep=";",
    header=None,
    skip_blank_lines=False,
    low_memory=False
)

# 2) Namen holen (Zeile 10 -> index 9), Einheiten (Zeile 17 -> index 16)
reihe_names = df_raw.iloc[9].astype(str).tolist()
reihe_names[0] = "von"
reihe_names[1] = "bis"
einheiten = df_raw.iloc[16].astype(str).tolist()

# 3) Daten ab Zeile 18 (index 17) extrahieren
df = df_raw.iloc[17:].copy()

# Nutze einfache Spaltenüberschriften (kein MultiIndex), um Duplikate zu vermeiden
df.columns = reihe_names
df.reset_index(drop=True, inplace=True)

# 4) Datums-Spalten NUR per Position greifen, so sind sie garantiert eindeutig
von_raw = df.iloc[:, 0].astype(str)
bis_raw = df.iloc[:, 1].astype(str)

# 5) Nur die Mess-/Zahlenspalten (ab Spalte 2) ins Float-Format bringen
num_cols = df.columns[2:]
for c in num_cols:
    # Strings bereinigen (Leerzeichen raus, Komma -> Punkt), dann zu numerisch
    df[c] = (
        df[c]
        .astype(str)
        .str.replace(r"\s+", "", regex=True)
        .str.replace(",", ".", regex=False)
        .replace({"": None})
    )
    df[c] = pd.to_numeric(df[c], errors="coerce")

# 6) Datumsfelder sauber parsen (werden durch Schritt 5 nicht angerührt)
von = pd.to_datetime(von_raw, dayfirst=True, errors="coerce")
bis = pd.to_datetime(bis_raw, dayfirst=True, errors="coerce")

In [3]:
df.index = von

df = df.drop(columns=[("von"), ("bis")])

df

,FL_00024360.PLAN.MengeHH.2,FL_00024360.PLAN.MengeHH.1,FL_00024360.PLAN.MengeKW,FL_00024360.PLAN.MengeGA,FL_00352230.PLAN.MengeGA,FL_00025289.PLAN.MengeGA,FL_00025287.PLAN.MengeGA,FL_00025297.PLAN.MengeGA,FL_00352205.PLAN.MengeKW,FL_00352205.PLAN.MengeGA,...,CV_00349016.PLAN.Menge,CV_00349013.PLAN.Menge,CV_00349005.PLAN.Menge,CV_00349004.PLAN.Menge,CV_00349002.PLAN.Menge,CV_00348857.PLAN.Menge,KN_00005030.PLAN.Menge.2,KN_00005030.PLAN.Menge.1,KN_00005023.PLAN.Menge.2,KN_00005023.PLAN.Menge.1
von,,,,,,,,,,,,,,,,,,,,,
2014-01-01 06:00:00,51.476,1709.224,461.161,1025.914,45.360,28.190,57.864,121.684,0.000,72.563,...,NaN,NaN,NaN,0.753,34.045,NaN,19.550,1.079,7.284,1.900
2014-01-01 07:00:00,51.026,1671.588,453.456,1022.869,42.560,28.224,57.765,117.911,0.000,76.735,...,NaN,NaN,NaN,0.607,35.279,NaN,18.923,0.955,6.890,1.562
2014-01-01 08:00:00,50.688,1817.313,454.455,1027.474,64.546,27.976,60.100,120.903,0.000,67.399,...,NaN,NaN,NaN,0.573,32.063,NaN,18.832,0.865,6.396,1.664
2014-01-01 09:00:00,50.857,1725.431,455.622,1022.988,72.453,28.134,60.483,120.126,0.000,65.328,...,NaN,NaN,NaN,0.495,28.629,NaN,18.636,0.865,6.890,1.619
2014-01-01 10:00:00,50.873,1997.502,454.479,1024.464,69.048,27.853,60.366,120.459,0.000,59.546,...,NaN,NaN,NaN,0.562,28.563,NaN,18.158,0.787,8.497,1.630
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-01 01:00:00,0.000,862.281,25.255,258.222,31.612,33.446,37.185,164.931,6.775,216.890,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-01 02:00:00,0.000,789.112,27.725,253.316,35.805,33.605,38.159,165.078,8.112,196.111,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-01 03:00:00,0.000,791.423,28.767,245.283,33.190,33.616,39.938,155.266,6.050,188.599,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-01 04:00:00,0.000,834.285,30.138,243.504,32.739,33.401,39.859,151.845,6.934,195.941,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-01 05:00:00,0.000,1034.191,36.290,262.629,33.348,33.356,38.182,153.216,7.704,247.821,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
from utils import load_series_dfs
series_dfs = load_series_dfs(data_dir=r"C:\Users\johan\Documents\FH_Master\data", filename="final_learning_dfs.pkl")
series_dfs['FL_00024702.PLAN.MengeHH'].columns

Index(['consumption', 'hour', 'weekday', 'month', 'is_weekend', 'w_tl', 'w_rf',
       'w_ff', 'w_ffx', 'w_cglo', 'w_so_h', 'w_rr', 'w_rrm', 'w_tb10',
       'w_tb20', 'CEGH_WAP', 'THE_WAP'],
      dtype='object')

In [5]:
series_dfs.keys()

dict_keys(['FL_00024702.PLAN.MengeHH', 'FL_00024730.PLAN.MengeHH', 'FL_00352243.PLAN.MengeHH', 'FL_00352244.PLAN.MengeGA', 'FL_00352244.PLAN.MengeKW', 'FL_00024360.PLAN.MengeGA', 'FL_00352254.PLAN.MengeGA', 'FL_00025248.PLAN.MengeGA', 'FL_00024360.PLAN.MengeHH.2', 'FL_00024731.PLAN.MengeHH', 'FL_00024735.PLAN.MengeHH', 'FL_00024667.PLAN.MengeHH', 'FL_00352218.PLAN.MengeHH', 'FL_00025240.PLAN.MengeHH', 'FL_00025241.PLAN.MengeHH', 'FL_00020896.PLAN.MengeHH', 'FL_00342704.PLAN.MengeGA', 'FL_00352054.PLAN.MengeHH', 'CV_00348266.PLAN.Menge', 'FL_00352254.PLAN.MengeHH', 'FL_00352244.PLAN.MengeHH', 'FL_00342704.PLAN.MengeHH', 'CV_00003083.PLAN.Menge', 'CV_00003181.PLAN.Menge', 'CV_00003192.PLAN.Menge', 'CV_00003191.PLAN.Menge', 'CV_00003183.PLAN.Menge', 'CV_00001876.PLAN.Menge', 'CV_00003094.PLAN.Menge', 'CV_00003089.PLAN.Menge', 'CV_00007270.PLAN.Menge', 'CV_00007300.PLAN.Menge', 'KN_00001613.PLAN.Menge', 'KN_00000069.PLAN.Menge', 'KN_00000067.PLAN.Menge', 'CV_00007809.PLAN.Menge', 'FL_00352191.PLAN.MengeHH', 'FL_00352189.PLAN.MengeHH', 'KN_00001886.PLAN.Menge', 'KN_00001602.PLAN.Menge', 'FL_00352430.PLAN.MengeHH', 'FL_00352208.PLAN.MengeHH', 'FL_00024616.PLAN.MengeHH', 'CV_00005607.PLAN.Menge', 'CV_00005585.PLAN.Menge', 'CV_00007283.PLAN.Menge', 'CV_00003432.PLAN.Menge', 'KN_00000073.PLAN.Menge.1', 'KN_00001613.PLAN.MengeGA', 'KN_00001886.PLAN.MengeKW', 'KN_00001602.PLAN.MengeKW'])

In [6]:
df.columns

Index(['FL_00024360.PLAN.MengeHH.2', 'FL_00024360.PLAN.MengeHH.1',
       'FL_00024360.PLAN.MengeKW', 'FL_00024360.PLAN.MengeGA',
       'FL_00352230.PLAN.MengeGA', 'FL_00025289.PLAN.MengeGA',
       'FL_00025287.PLAN.MengeGA', 'FL_00025297.PLAN.MengeGA',
       'FL_00352205.PLAN.MengeKW', 'FL_00352205.PLAN.MengeGA',
       ...
       'CV_00349016.PLAN.Menge', 'CV_00349013.PLAN.Menge',
       'CV_00349005.PLAN.Menge', 'CV_00349004.PLAN.Menge',
       'CV_00349002.PLAN.Menge', 'CV_00348857.PLAN.Menge',
       'KN_00005030.PLAN.Menge.2', 'KN_00005030.PLAN.Menge.1',
       'KN_00005023.PLAN.Menge.2', 'KN_00005023.PLAN.Menge.1'],
      dtype='object', length=322)

In [7]:
df.index.max(), df.index.min()

(Timestamp('2022-01-01 05:00:00'), Timestamp('2014-01-01 06:00:00'))

In [8]:
series_dfs['FL_00024702.PLAN.MengeHH'].index.max() , series_dfs['FL_00024702.PLAN.MengeHH'].index.min()

(Timestamp('2018-12-31 23:00:00'), Timestamp('2015-01-01 06:00:00'))

In [9]:
# --- 1) Testzeitraum definieren ---
end_date = "2018-12-31 23:00:00"
df_sub = df.loc[:end_date]

# --- 2) Anteil fehlender Werte pro Zeitreihe berechnen ---
na_ratio = df_sub.isna().mean()

# --- 3) Bins definieren ---
bins = [0, 0.05, 0.10, 0.15, 0.20, 0.25, 0.30, 1.0]
labels = [
    "0–5%", "5–10%", "10–15%", "15–20%", "20–25%", "25–30%", ">30%"
]

# --- 4) Einteilung in Kategorien ---
categories = pd.cut(na_ratio, bins=bins, labels=labels, include_lowest=True)

# --- 5) Ergebnis-DataFrame ---
na_overview = pd.DataFrame({
    "na_ratio": na_ratio,
    "bin": categories
}).sort_values("na_ratio", ascending=False)

# --- 6) Zugriff auf einzelne Bins ---
cols_10_15 = na_overview[na_overview["bin"] == "10–15%"].index.tolist()
cols_15_20 = na_overview[na_overview["bin"] == "15–20%"].index.tolist()
cols_20_25 = na_overview[na_overview["bin"] == "20–25%"].index.tolist()
cols_25_30 = na_overview[na_overview["bin"] == "25–30%"].index.tolist()

print(na_overview["bin"].value_counts())

bin
5–10%     167
0–5%       63
15–20%     62
>30%       29
20–25%      1
10–15%      0
25–30%      0
Name: count, dtype: int64

In [10]:
na_overview.bin.unique()

['>30%', '20–25%', '15–20%', '5–10%', '0–5%']
Categories (7, object): ['0–5%' < '5–10%' < '10–15%' < '15–20%' < '20–25%' < '25–30%' < '>30%']

In [11]:
na_overview[na_overview["bin"] == "0–5%"]

                            na_ratio   bin
FL_00352251.PLAN.MengeGA    0.019809  0–5%
FL_00024741.PLAN.MengeHH    0.015952  0–5%
FL_00352255.PLAN.MengeHH    0.015952  0–5%
FL_00024673.PLAN.MengeHH    0.015952  0–5%
FL_00024679.PLAN.MengeHH    0.015952  0–5%
...                              ...   ...
FL_00352208.PLAN.MengeGA    0.000000  0–5%
FL_00025248.PLAN.MengeGA    0.000000  0–5%
FL_00352054.PLAN.MengeHH    0.000000  0–5%
CV_00348266.PLAN.Menge      0.000000  0–5%
FL_00024360.PLAN.MengeHH.2  0.000000  0–5%

[63 rows x 2 columns]

In [12]:
na_overview.index.unique()

Index(['FL_00352208.PLAN.MengeKW', 'KN_00003623.PLAN.Menge',
       'KN_00003613.PLAN.Menge', 'KN_00003602.PLAN.Menge',
       'KN_00003549.PLAN.Menge', 'KN_00003424.PLAN.Menge',
       'KN_00003421.PLAN.Menge', 'KN_00003635.PLAN.Menge',
       'KN_00003629.PLAN.Menge', 'CV_00349026.PLAN.Menge',
       ...
       'FL_00352218.PLAN.MengeHH', 'FL_00024667.PLAN.MengeHH',
       'FL_00342704.PLAN.MengeGA', 'FL_00352254.PLAN.MengeGA',
       'FL_00020896.PLAN.MengeHH', 'FL_00352208.PLAN.MengeGA',
       'FL_00025248.PLAN.MengeGA', 'FL_00352054.PLAN.MengeHH',
       'CV_00348266.PLAN.Menge', 'FL_00024360.PLAN.MengeHH.2'],
      dtype='object', length=322)

In [13]:
csv_path = os.path.join('..', 'data', 'gdm_ausspp_202505011423.csv')

# 2. Laden
df_knoten = pd.read_csv(csv_path)
df1 = df_knoten[['nemesys_key', 'geom_g']]

C:\Users\johan\AppData\Local\Temp\ipykernel_8692\3073625327.py:4: DtypeWarning: Columns (18,19,31,32,33,34,40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df_knoten = pd.read_csv(csv_path)

In [14]:
csv_path = os.path.join('..', 'data', 'gdm_mengem_202505011301.csv')

# 2. Laden
df_punkte = pd.read_csv(csv_path)
df2 = df_punkte[['nemesys_key', 'geom_g']]

In [15]:
csv_path = os.path.join('..', 'data', 'gdm_verbz_202505011429.csv')

# 2. Laden
df_flaechen = pd.read_csv(csv_path)
df3 = df_flaechen[['nemesys_key', 'geom_g']]

In [16]:
frames = [df1, df2, df3]

result = pd.concat(frames)
len(result.index), (len(df1.index) + len(df2.index) + len(df3.index))

(58413, 58413)

In [17]:
result.head()

   nemesys_key                                        geom_g
0  KN_00370061  POINT (467432.38972410024 5298251.233962588)
1  KN_00400891   POINT (638160.7506623925 5317827.993315005)
2  KN_00400949   POINT (639183.4338244994 5316622.424836051)
3  KN_00397400   POINT (638188.4998389793 5317801.508679103)
4  KN_00397666     POINT (638206.87598522 5317780.619306837)

In [44]:
# 1) Prefix-Key aus dem na_overview-Index ableiten (alles vor dem ersten ".")
na_overview = na_overview.copy()
na_overview["nemesys_key"] = (
    pd.Index(na_overview.index)
      .to_series()
      .str.split(".", n=1, expand=True)[0]
)

# 2) Eindeutige Geometrien je nemesys_key vorbereiten (bei Duplikaten die erste behalten)
geom_map = (
    result
    .drop_duplicates(subset=["nemesys_key"])
    .set_index("nemesys_key")["geom_g"]
)

# 3) Geometrie in na_overview mappen
na_overview["geom_g"] = na_overview["nemesys_key"].map(geom_map)

# 4) Kurz-Check & Diagnostics
total = len(na_overview)
matched = na_overview["geom_g"].notna().sum()
unmatched_keys = (
    na_overview.loc[na_overview["geom_g"].isna(), "nemesys_key"]
    .nunique()
)

print(f"Gematchte Reihen: {matched}/{total} ({matched/total:.1%})")
print(f"Anzahl unterschiedlicher nemesys_keys ohne Geometrie: {unmatched_keys}")

Gematchte Reihen: 319/322 (99.1%)
Anzahl unterschiedlicher nemesys_keys ohne Geometrie: 2

In [19]:
na_overview

,na_ratio,bin,nemesys_key,geom_g
FL_00352208.PLAN.MengeKW,1.0,>30%,FL_00352208,MULTIPOLYGON (((453137.430256977 5163557.52722...
KN_00003623.PLAN.Menge,1.0,>30%,KN_00003623,POINT (629249.710253795 5319336.72648159)
KN_00003613.PLAN.Menge,1.0,>30%,KN_00003613,POINT (619503.043571605 5315717.57029582)
KN_00003602.PLAN.Menge,1.0,>30%,KN_00003602,POINT (616169.6906068642 5315623.142645395)
KN_00003549.PLAN.Menge,1.0,>30%,KN_00003549,POINT (613600.973378887 5316674.7537472)
...,...,...,...,...
FL_00352208.PLAN.MengeGA,0.0,0–5%,FL_00352208,MULTIPOLYGON (((453137.430256977 5163557.52722...
FL_00025248.PLAN.MengeGA,0.0,0–5%,FL_00025248,MULTIPOLYGON (((571359.582255836 5379201.19160...
FL_00352054.PLAN.MengeHH,0.0,0–5%,FL_00352054,MULTIPOLYGON (((168517.508101939 5271056.46775...
CV_00348266.PLAN.Menge,0.0,0–5%,CV_00348266,"LINESTRING (392147.529330797 5313778.26758383,..."
FL_00024360.PLAN.MengeHH.2,0.0,0–5%,FL_00024360,MULTIPOLYGON (((580335.577754223 5331311.99925...

In [20]:
df = pd.read_csv('../data/wetterdaten_top150_filled_linear.csv.gz', compression='gzip', parse_dates=['timestamp'])
df.head()

,timestamp,station_id,tl,rf,ff,ffx,cglo,so_h,rr,rrm,tb10,tb20
0,2014-01-01 00:00:00+00:00,2,-2.7,93.0,1.7,2.6,0.0,0.0,0.0,0.0,0.5,1.1
1,2014-01-01 00:00:00+00:00,7604,4.0,84.0,3.2,6.3,0.0,0.0,0.0,0.0,3.9,5.2
2,2014-01-01 00:00:00+00:00,48,1.5,88.0,0.9,2.2,0.0,0.0,0.0,0.0,3.0,3.7
3,2014-01-01 00:00:00+00:00,20412,1.4,100.0,0.2,1.5,0.0,0.0,0.0,0.0,2.8,3.2
4,2014-01-01 00:00:00+00:00,89,1.5,95.0,0.7,3.3,0.0,0.0,0.0,0.0,2.1,2.2

In [22]:
import requests
# 1. Resource-ID für stündliche Klimastationen
resource_id = 'klima-v2-1h'

# 2. Metadata-Endpoint ansprechen
url_meta  = f"https://dataset.api.hub.geosphere.at/v1/station/historical/{resource_id}/metadata"
resp_meta = requests.get(url_meta)
resp_meta.raise_for_status()

# 3. Liste der Station-Dicts rausziehen
data = resp_meta.json()          # {'stations': [ {...}, {...}, … ]}
stations_list = data['stations']

# 4. In DataFrame umwandeln
stations_df = pd.DataFrame.from_records(stations_list)

# 5. Wichtige Spalten anzeigen
print("Spalten:", stations_df.columns.tolist())
print(stations_df[['id','name','lat','lon']].head())

Spalten: ['type', 'id', 'group_id', 'name', 'state', 'lat', 'lon', 'altitude', 'valid_from', 'valid_to', 'has_sunshine', 'has_global_radiation', 'is_active']
   id              name       lat       lon
0   1            Aflenz  47.54594  15.24069
1   2  Aigen im Ennstal  47.53278  14.13826
2   3       Allentsteig  48.69083  15.36694
3   4         Amstetten  48.10889  14.89500
4   5        Bad Aussee  47.61050  13.75844

In [35]:
stations_df = stations_df.query("id in @df.station_id.unique()")

In [36]:
stations_df

,type,id,group_id,name,state,lat,lon,altitude,valid_from,valid_to,has_sunshine,has_global_radiation,is_active
1,COMBINED,2,NaN,Aigen im Ennstal,Steiermark,47.532780,14.13826,641.0,1993-02-01T00:00:00+00:00,2100-12-31T00:00:00+00:00,True,True,True
2,COMBINED,3,NaN,Allentsteig,Niederösterreich,48.690830,15.36694,598.8,1992-10-01T00:00:00+00:00,2100-12-31T00:00:00+00:00,True,True,True
6,COMBINED,7,NaN,Bad Gastein,Salzburg,47.110560,13.13336,1092.0,1926-04-21T00:00:00+00:00,2100-12-31T00:00:00+00:00,True,True,True
12,COMBINED,13,NaN,Bernstein,Burgenland,47.408330,16.26139,630.8,2008-01-01T00:00:00+00:00,2100-12-31T00:00:00+00:00,True,True,True
17,COMBINED,18,NaN,Bruckneudorf,Burgenland,48.012780,16.84500,165.6,2008-01-01T00:00:00+00:00,2100-12-31T00:00:00+00:00,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
771,INDIVIDUAL,19911,NaN,Hermagor,Kärnten,46.609720,13.49222,561.6,2008-07-01T00:00:00+00:00,2100-12-31T00:00:00+00:00,True,True,True
778,INDIVIDUAL,20101,122.0,Kanzelhöhe,Kärnten,46.677220,13.90194,1520.0,2002-01-01T00:00:00+00:00,2100-12-31T00:00:00+00:00,True,True,True
793,INDIVIDUAL,20212,48.0,Klagenfurt Flughafen,Kärnten,46.648330,14.31833,450.0,1996-10-01T00:00:00+00:00,2100-12-31T00:00:00+00:00,True,True,True
801,INDIVIDUAL,20270,NaN,Feldkirchen,Kärnten,46.721940,14.09694,546.4,1995-07-01T00:00:00+00:00,2100-12-31T00:00:00+00:00,True,True,True
806,INDIVIDUAL,20412,91.0,Feistritz ob Bleiburg,Kärnten,46.561389,14.76500,523.0,2007-08-01T00:00:00+00:00,2100-12-31T00:00:00+00:00,True,True,True

In [49]:
import pandas as pd
import geopandas as gpd
from shapely import wkt as shapely_wkt

# 1) WKT -> Shapely-Geometrien (robust)
def parse_geom(x):
    if x is None or (isinstance(x, float) and pd.isna(x)):
        return None
    if hasattr(x, "geom_type"):            # bereits Geometrie
        return x
    if isinstance(x, str):
        s = x.strip()
        if not s:
            return None
        try:
            return shapely_wkt.loads(s)
        except Exception:
            return None
    return None

geoms = na_overview["geom_g"].apply(parse_geom)

# 2) GeoDataFrame mit richtigem CRS (UTM 33N)
gdf = gpd.GeoDataFrame(na_overview.copy(), geometry=geoms, crs="EPSG:32633")

# 3) Interior-Point / Repräsentativpunkt sicher bilden
def interior_point_safe(g):
    if g is None or g.is_empty:
        return None
    t = g.geom_type
    if t in ("Polygon", "MultiPolygon"):
        return g.representative_point()
    elif t in ("LineString", "MultiLineString"):
        try:
            return g.interpolate(0.5, normalized=True)
        except Exception:
            return g.centroid
    elif t in ("Point", "MultiPoint"):
        return g.centroid
    else:
        return g.centroid

gdf["pt_interior"] = gdf.geometry.apply(interior_point_safe)
gdf["pt_x"] = gdf["pt_interior"].x
gdf["pt_y"] = gdf["pt_interior"].y

# zurückschreiben, wenn du mit na_overview weiterarbeiten willst
na_overview = gdf

# Diagnostics (optional)
print("Geometrien:", na_overview.geometry.notna().sum(), "/", len(na_overview))
print("Interior-Points:", na_overview["pt_interior"].notna().sum())

Geometrien: 319 / 322
Interior-Points: 319

In [50]:
na_overview

,na_ratio,bin,nemesys_key,geom_g,geometry,pt_interior,pt_x,pt_y
FL_00352208.PLAN.MengeKW,1.0,>30%,FL_00352208,MULTIPOLYGON (((453137.430256977 5163557.52722...,"MULTIPOLYGON (((453137.43 5163557.527, 453137....",POINT (449581.692 5173939.372),449581.692322,5.173939e+06
KN_00003623.PLAN.Menge,1.0,>30%,KN_00003623,POINT (629249.710253795 5319336.72648159),POINT (629249.71 5319336.726),POINT (629249.71 5319336.726),629249.710254,5.319337e+06
KN_00003613.PLAN.Menge,1.0,>30%,KN_00003613,POINT (619503.043571605 5315717.57029582),POINT (619503.044 5315717.57),POINT (619503.044 5315717.57),619503.043572,5.315718e+06
KN_00003602.PLAN.Menge,1.0,>30%,KN_00003602,POINT (616169.6906068642 5315623.142645395),POINT (616169.691 5315623.143),POINT (616169.691 5315623.143),616169.690607,5.315623e+06
KN_00003549.PLAN.Menge,1.0,>30%,KN_00003549,POINT (613600.973378887 5316674.7537472),POINT (613600.973 5316674.754),POINT (613600.973 5316674.754),613600.973379,5.316675e+06
...,...,...,...,...,...,...,...,...
FL_00352208.PLAN.MengeGA,0.0,0–5%,FL_00352208,MULTIPOLYGON (((453137.430256977 5163557.52722...,"MULTIPOLYGON (((453137.43 5163557.527, 453137....",POINT (449581.692 5173939.372),449581.692322,5.173939e+06
FL_00025248.PLAN.MengeGA,0.0,0–5%,FL_00025248,MULTIPOLYGON (((571359.582255836 5379201.19160...,"MULTIPOLYGON (((571359.582 5379201.192, 571359...",POINT (579850.461 5385507.515),579850.461225,5.385508e+06
FL_00352054.PLAN.MengeHH,0.0,0–5%,FL_00352054,MULTIPOLYGON (((168517.508101939 5271056.46775...,"MULTIPOLYGON (((168517.508 5271056.468, 168586...",POINT (178961.588 5264391.467),178961.587808,5.264391e+06
CV_00348266.PLAN.Menge,0.0,0–5%,CV_00348266,"LINESTRING (392147.529330797 5313778.26758383,...","LINESTRING (392147.529 5313778.268, 392158.254...",POINT (392152.892 5313778.267),392152.891582,5.313778e+06
FL_00024360.PLAN.MengeHH.2,0.0,0–5%,FL_00024360,MULTIPOLYGON (((580335.577754223 5331311.99925...,"MULTIPOLYGON (((580335.578 5331311.999, 580339...",POINT (605809.17 5334717.283),605809.169599,5.334717e+06

In [51]:
df_pts = gpd.GeoDataFrame(
    na_overview.drop(columns='geometry'),  # alte geometry-Spalte entfernen, falls gewünscht
    geometry=na_overview['pt_interior'],
    crs="EPSG:32633"
)

# 3. Jetzt transformierst Du df_pts in WGS84
df_pts = df_pts.to_crs(epsg=4326)

# 4. Longitude / Latitude aus der neuen Geometrie ziehen
df_pts['centroid_lon'] = df_pts.geometry.x
df_pts['centroid_lat'] = df_pts.geometry.y

# 5. Kontrolle
print(df_pts[['nemesys_key','centroid_lon','centroid_lat']].head())

                          nemesys_key  centroid_lon  centroid_lat
FL_00352208.PLAN.MengeKW  FL_00352208     14.340297     46.717107
KN_00003623.PLAN.Menge    KN_00003623     16.733179     48.014244
KN_00003613.PLAN.Menge    KN_00003613     16.601528     47.983592
KN_00003602.PLAN.Menge    KN_00003602     16.556847     47.983357
KN_00003549.PLAN.Menge    KN_00003549     16.522714     47.993276

In [54]:
df_pts.dropna(inplace=True)
df_pts

,na_ratio,bin,nemesys_key,geom_g,pt_interior,pt_x,pt_y,geometry,centroid_lon,centroid_lat
FL_00352208.PLAN.MengeKW,1.0,>30%,FL_00352208,MULTIPOLYGON (((453137.430256977 5163557.52722...,POINT (449581.692 5173939.372),449581.692322,5.173939e+06,POINT (14.3403 46.71711),14.340297,46.717107
KN_00003623.PLAN.Menge,1.0,>30%,KN_00003623,POINT (629249.710253795 5319336.72648159),POINT (629249.71 5319336.726),629249.710254,5.319337e+06,POINT (16.73318 48.01424),16.733179,48.014244
KN_00003613.PLAN.Menge,1.0,>30%,KN_00003613,POINT (619503.043571605 5315717.57029582),POINT (619503.044 5315717.57),619503.043572,5.315718e+06,POINT (16.60153 47.98359),16.601528,47.983592
KN_00003602.PLAN.Menge,1.0,>30%,KN_00003602,POINT (616169.6906068642 5315623.142645395),POINT (616169.691 5315623.143),616169.690607,5.315623e+06,POINT (16.55685 47.98336),16.556847,47.983357
KN_00003549.PLAN.Menge,1.0,>30%,KN_00003549,POINT (613600.973378887 5316674.7537472),POINT (613600.973 5316674.754),613600.973379,5.316675e+06,POINT (16.52271 47.99328),16.522714,47.993276
...,...,...,...,...,...,...,...,...,...,...
FL_00352208.PLAN.MengeGA,0.0,0–5%,FL_00352208,MULTIPOLYGON (((453137.430256977 5163557.52722...,POINT (449581.692 5173939.372),449581.692322,5.173939e+06,POINT (14.3403 46.71711),14.340297,46.717107
FL_00025248.PLAN.MengeGA,0.0,0–5%,FL_00025248,MULTIPOLYGON (((571359.582255836 5379201.19160...,POINT (579850.461 5385507.515),579850.461225,5.385508e+06,POINT (16.08345 48.61754),16.083447,48.617541
FL_00352054.PLAN.MengeHH,0.0,0–5%,FL_00352054,MULTIPOLYGON (((168517.508101939 5271056.46775...,POINT (178961.588 5264391.467),178961.587808,5.264391e+06,POINT (10.74071 47.45377),10.740705,47.453774
CV_00348266.PLAN.Menge,0.0,0–5%,CV_00348266,"LINESTRING (392147.529330797 5313778.26758383,...",POINT (392152.892 5313778.267),392152.891582,5.313778e+06,POINT (13.55511 47.96822),13.555113,47.968221
FL_00024360.PLAN.MengeHH.2,0.0,0–5%,FL_00024360,MULTIPOLYGON (((580335.577754223 5331311.99925...,POINT (605809.17 5334717.283),605809.169599,5.334717e+06,POINT (16.42277 48.15689),16.422774,48.156893

In [55]:
import numpy as np
from sklearn.neighbors import BallTree
import pandas as pd

# 1. Stations-Koordinaten in Radianten
coords_stat = np.deg2rad(stations_df[['lat','lon']].values)

# 2. Centroid-Interior-Koordinaten in Radianten
coords_map  = np.deg2rad(df_pts[['centroid_lat','centroid_lon']].values)

# 3. BallTree mit Haversine-Metrik bauen
tree = BallTree(coords_stat, metric='haversine')

# 4. Für jeden Centroid den nächsten Nachbarn suchen
dist_rad, idx = tree.query(coords_map, k=1)

# 5. In Kilometern umrechnen
dist_km = dist_rad.flatten() * 6371.0

# 6. Ergebnis-Tabelle zusammenbauen
result = pd.DataFrame({
    'nemesys_key':  df_pts['nemesys_key'].values,
    'stat_id':      stations_df.iloc[idx.flatten()]['id'].values,
    'stat_name':    stations_df.iloc[idx.flatten()]['name'].values,
    'dist_km':      dist_km
})

print(result.head())

   nemesys_key  stat_id            stat_name   dist_km
0  FL_00352208       95  St.Veit an der Glan  4.233229
1  KN_00003623     6102         Bruckneudorf  8.319344
2  KN_00003613     7710          Seibersdorf  7.289190
3  KN_00003602     7710          Seibersdorf  4.009748
4  KN_00003549     7710          Seibersdorf  2.445193