In [1]:
import pandas as pd
import os

In [2]:
df_weather = pd.read_csv('../data/wetterdaten_top150_filled_linear.csv.gz', compression='gzip', parse_dates=['timestamp'])

In [3]:
df_weather.head()

,timestamp,station_id,tl,rf,ff,ffx,cglo,so_h,rr,rrm,tb10,tb20
0,2014-01-01 00:00:00+00:00,2,-2.7,93.0,1.7,2.6,0.0,0.0,0.0,0.0,0.5,1.1
1,2014-01-01 00:00:00+00:00,7604,4.0,84.0,3.2,6.3,0.0,0.0,0.0,0.0,3.9,5.2
2,2014-01-01 00:00:00+00:00,48,1.5,88.0,0.9,2.2,0.0,0.0,0.0,0.0,3.0,3.7
3,2014-01-01 00:00:00+00:00,20412,1.4,100.0,0.2,1.5,0.0,0.0,0.0,0.0,2.8,3.2
4,2014-01-01 00:00:00+00:00,89,1.5,95.0,0.7,3.3,0.0,0.0,0.0,0.0,2.1,2.2

In [5]:
len(df_weather.station_id.unique())

150

In [6]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5371200 entries, 0 to 5371199
Data columns (total 12 columns):
 #   Column      Dtype
---  ------      -----
 0   timestamp   datetime64[ns, UTC]
 1   station_id  int64
 2   tl          float64
 3   rf          float64
 4   ff          float64
 5   ffx         float64
 6   cglo        float64
 7   so_h        float64
 8   rr          float64
 9   rrm         float64
 10  tb10        float64
 11  tb20        float64
dtypes: datetime64[ns, UTC](1), float64(10), int64(1)
memory usage: 491.7 MB

In [8]:
df_weather.isna().sum()

timestamp     0
station_id    0
tl            0
rf            0
ff            0
ffx           0
cglo          0
so_h          0
rr            0
rrm           0
tb10          0
tb20          0
dtype: int64

In [10]:
df_weather.timestamp.min(), df_weather.timestamp.max()

(Timestamp('2014-01-01 00:00:00+0000', tz='UTC'),
 Timestamp('2018-01-31 23:00:00+0000', tz='UTC'))